<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{home.html}" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/static/gen.css}">
    <title>Books Title</title>
</head>
<body>

<div layout:fragment="site_content">
    <div class="row mt-5">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Year</th>
            </tr>
            </thead>
        <tbody>
        <tr th:each="book:${books}">
            <th scope="row" th:text="${book.getId()}">0</th>
            <td><a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle()}" style="text-decoration: none;color: black" >...</a></td>
            <td><a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getYear()}" style="text-decoration: none;color: black">...</a></td>
        </tr>
         </tbody>
        </table>

    </div>

    <div class="row-mt-4 ">
        <div class="col-6">
<!--            <div class="text-center">-->
                <a class="btn btn-outline-primary text-center" href="/books/new" role="button">Добавить Книгу</a>
<!--            </div>-->

        </div>

        <div class="col-6 mt-4">
<!--            <div class="text-center">-->
            <a class="btn btn btn-danger text-center" href="/books/search" role="button">Поиск книг</a>
<!--            </div>-->
        </div>
    </div>

</div>


<!--<div th:each="book:${books}">-->
<!--    <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle() +' ,' + book.getYear()}">VALUE</a>-->
<!--    <br>-->
<!--    <hr>-->
<!--</div>-->
<!--<a href="/books/new">Добавить Книгу</a>-->

</body>
</html>